<head>
  <title>
    Test
  </title>

  <script src="/static/libs/jQuery/dist/jquery.js"></script>
  <script src="/static/libs/react-0.12.2/react.js"></script>
  <script src="/static/libs/react-0.12.2/JSXTransformer.js"></script>

  <script src="/static/libs/date.js"></script>
  <script src="/static/libs/FileSaver.min.js"></script>

  <script src="/static/libs/css-element-queries/ResizeSensor.js"></script>
  <script src="/static/libs/css-element-queries/ElementQueries.js"></script>

  <script src="/static/js/plugins.js"></script>
  <script src="/static/js/utils.js"></script>
  <script src="/static/js/inline-styles.js"></script>
  <script src="/static/js/globals.js"></script>
  <script src="/static/js/switches.js"></script>
  <script src="/static/js/init.js"></script>
  <script src="/static/js/playground/indexer.js"></script>
  <script src="/static/js/playground/data-handler.js"></script>
  <script src="/static/js/playground/file-handler.js"></script>
</head>
<body>
<script src="../../tests/helpers/core-helpers.js"></script>
<script src="../../tests/fixtures/simple.js"></script>

<!--Test file-->
Testing...
<script src="../../tests/playground/indexer-test.js"></script>
<script>

</script>

</body>