{% extends "layout.html" %}
{% block header %}
{% endblock %}

{% block content %}
<div id="about" class="body-content">
  <div class="row">
    <h1>Exploring the power of writing your memories</h1>
    <p>Where are those peaceful places to write freely without concern of your writing being stored somewhere by the service? Mindsearch fills this niche.</p>
    <p>Mindsearch is a great place to write journal-style entries, keeping track of dates and easily letting you enter memories from long ago.</p>
    <p>And it's compatible with <a href="http://thotdrop.com">thotdrop.com</a>!

    <h2>Visualize</h2>
    <p>Here, you can visualize your memories cleanly and search through them efficiently.</p>
    <h2>Play around with data as you please</h2>
    <p>We encourage writing everywhere. Some of our favorite places include <a href="http://noisli.com">noisli.com</a>.
      We don't lock you down to only use this service.</p>
    <p>All that's needed is to follow the intuitive format of memories, and you'll be able to upload to this site whenever you want.</p>
    <pre>
      1/2/2012
      I met up with Sally and Jake at the bonfire near the beach. We... did stuff, and I'm writing about it to collect my thoughts.

      Yay!

      1/4/2014 Around 1 am
      A memory with a note that says 'Around 1 am.'
    </pre>
    <a href="javascript:void(0);" id='trigger-advanced'>Advanced</a>
    <pre id="advanced-info" style="display: none">
      1/2/2013~
      The tilde means the memory's date is approximate.

      1/2/2015~ Around 1 am
      A memory whose date is approximate and that has the note,
      "Around 1 am"
    </pre>
    <h2>How does it work?</h2>
    <p>The uploader only temporarily stores the data in local JavaScript data structures. When you exit, it's all deleted.</p>
    <p>At any time, you can easily download your changed writing.</a>
    <p>You manage your writing the way you want to, storing your data wherever you like. For example, you could scatter your files in disparate services like Google Keep, Evernote, whatever. And only you know how to merge your writing together.</p>

    <p>This is all part of a journey to <b>search inside yourself</b>.</p>

    <div style="float: right">
      <a id="go" href="/playground">
        Try it!
      </a>
    </div>
  </div>
</div>
{% endblock %}

