
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1>Welcome to Mindsearch</h1>

  <p>A place to explore your own writing in privacy.</p>
  <p><a href="{{ url_for('public.playground') }}" class="btn btn-primary btn-large">Try it for free &raquo;</a></p>
</div><!-- /.jumbotron -->

<div class="body-content">
  <div class="row">
    <div class="col-lg-4">
      <h2><i class="fa fa-inbox"></i> Safely kept by yourself</h2>
      <p>Mindsearch doesn't store your memories. All memories are in your own text file, which you simply drag here when you want to interact with them.</p>
    </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-flask"></i> Beautiful playground</h2>
      <p>Mindsearch handles the data solely with client-side JavaScript and lets you re-download when you're done.</p>
      <p><a class="btn btn-default" href="/about">Learn more &raquo;</a></p>
   </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-edit"></i> Explore</h2>
      <p>Learn more about yourself and feel regular inspiration - by your own writing.</p>
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}

