<!-- Does not follow layout.html -->

<!--Params: login_form: LoginForm object-->
<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>
    Mindsearch Playground
  </title>
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <meta name="author" content="{% block meta_author %}{% endblock %}">

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width">

  {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
</head>
<body>
{% with login_form=login_form %}
{% include "nav.html" %}
{% endwith %}

<div id="playground-container" class="container">
</div>

{% assets "js_all" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<!--<script type="text/jsx" src="../../static/js/playground/ui/cloud.js"></script>
<script type="text/jsx" src="../../static/js/playground/ui/stream.js"></script>
<script type="text/jsx" src="../../static/js/playground/ui/portal.js"></script>
<script type="text/jsx" src="../../static/js/playground/ui/menu.js"></script>
<script type="text/jsx" src="../../static/js/playground/ui/form.js"></script>
<script type="text/jsx" src="../../static/js/playground/ui/memories-area.js"></script>
<script type="text/jsx" src="../../static/js/playground/ui/download-area.js"></script>
<script type="text/jsx" src="../../static/js/playground/ui/upload-area.js"></script>
<script type="text/jsx" src="../../static/js/playground/ui/playground.js"></script>-->

</body>
</html>
