#about p {
	font-size: 16px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a#go {
	font-size: 35px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-decoration: none
}
a#go:hover {
	font-size: 35px;
	text-decoration: none
}