.faint-text {
  color: #bbb;
}
.faint-border {
  /*border: 1px solid #ededed;*/
  border: 1px solid #ddd;
}
.faint-border:focus {
  /*border: 1px solid #ededed;*/
  border: 1px solid #ddd;
  outline: 0;
}
.faint-border:hover {
  border: 1px solid #ddd;
}
.form-space {
  padding: 10px;
}
.faint-button {
  /*border: 1px solid #ededed;*/
  border: 1px solid #ddd;
  color: #bbb;
}
.faint-button:hover {
  border: 1px solid #ddd;
  color: black;
  background: white;
}
.faint-button:focus {
  outline: 0;
  border: 1px solid #ddd;
  color: black;
  background: white;
}
#main-form-area {
  width: 50%;
  margin: 0 auto;
  text-align: left;
}
#memory-exact-date-area-container {
  padding: 0 0 0 10px;
  display: inline;
}
#memory-date-area {
  text-align: left;
}
#rambling-mode-button {
  float: right;
}
#memory-note-area {
  text-align: left;
  float: right;
}
#memory-form {
  text-align: center;
}
#memory-form input {
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  color: #6a6a6a;
  font: 18px serif;
}
textarea#memory-content-area {
	min-width: 600px;
	min-height: 150px;
  height: 200px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
  border-radius:6px;
  font: 20px serif;
  color: #6a6a6a;
}
textarea.rambling-mode {
  margin-top: 0px;
  width: 950px;
  height: 100%;
  font-size: 25px;
  color: #83bdd5;  /* Light blue. */
  border: 1px solid #ededed;
}
/* Buttons - http://www.cssbuttongenerator.com/ */
.button {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
	cursor: pointer;
}.button:active {
	position:relative;
	top:1px;
}
