/* playground.html styling */
.portal a {
}

.portal a:hover {
  cursor: pointer;
  text-decoration: none;
}
#quick-controls div {
  float: right;
  display: inline-block;
  margin: 0 10px;
}

#memories-area {
}

#memories-area {
  display: block;
}

#hover-area {
	text-align: center;
  position: fixed;
  z-index: -1;
  /* width: determined by JS */
}

#hover-area-text {
  display: inline-block;
  font-size: 50px;
  opacity: .8;
}

.memory {
  /*background: #add8e6;*/
}

.stream-memory {
}

.stream-memory:hover {
}

.stream-memory a span.note {
  font-size: 12px;
  color: gray;
}

.cloud-memory {
  position: fixed;
  display: block;
  padding: 4px;
}

.cloud-memory:hover {
  cursor: pointer;
}

.cloud-memory a {
  text-decoration: none;
}

#search-text-field {
  width: 500px;
  height: 33px;
  padding: 10px;
  border: 1px solid #ddd;
}
#search-text-field:focus {
  border: 1px solid #ddd;
  outline: 0;
}