/* App specific CSS file. */
.button {

}
.button:hover {
  cursor: pointer;
}

.big-button {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 70vw;
  height: 40vw;
}

.big-button:hover {
  cursor: pointer;
}

.my-list-group {
  padding-left: 0;
  margin-bottom: 20px;
}
.my-list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  border: 1px solid rgba(221, 221, 221, .7);
}
.my-list-group-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.my-list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
a.my-list-group-item:hover,
a.my-list-group-item:focus {
  text-decoration: none;
}

/* universal */
.centered {
  text-align: center;
}
.rounded {
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
}

.right {
  float: right;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container-narrow{
  margin: 0 auto;
  max-width: 700px;
}

/* Forms */

.navbar-form input[type="text"],
.navbar-form input[type="password"] {
  width: 180px;
}


.form-register {
  width: 50%;
}

.form-register .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999999;
}

footer a {
  color: #999999;
}

footer p {
  float: right;
  margin-right: 25px;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

footer .company {
  float: left;
  margin-left: 25px;
}

footer .footer-nav {
  float: right;
  margin-right: 25px;
  list-style: none;
}
