<!--NOT USED-->
<!--Params: streamed_memories: ?-->
<div id="left_menu">
    <div id="search-area">
        Search:
        <input type="text"></input>
    </div>
    <a class="view_button" id="stream_button" href="javascript:void(0)">Stream</a>
</div>

<div id="view0"><!--style="display:none">-->
    <div class="stream_options"> <!-- style="display:none"> -->
        <a href="javascript:void(0)" class="by_time_switch">By memory date</a> |
        <a href="javascript:void(0)" class="by_update_switch">By most recently updated</a>
    </div>

    <!-- Don't need... js handles -->
    <div class="by_time"><!--by memory date/time-->
        {% for memory in streamed_memories %}
            <div id="memory_<%= memory.id %>" class="memory">
                {% with memory=memory  %}
                {% include "public/partials/stream_memory_block.html" %}
                {% endwith %}
            </div>
        {% endfor %}
    </div>
</div>

