<footer>
  <small>
  <ul class="company">
    <li>© David Y. Zhang</li>
  </ul>

    <ul class="footer-nav">
      <li><a href="{{ url_for('public.about') }}">About</a></li>
    </ul>
  </small>
</footer>
